<html>

<h2>
    <centre>
        Employee information system
    </centre>
</h2>

<a href="http://localhost:5000/newrecord"> New Employee </a>
<br>
<h2> Select Department:<font color='blue'> </font> </h2>
<form action="http://localhost:5000/listofemployees" 
     method="post">
<select name="dept">
     <option value="HR"> Human Resource</option>
    <option value="IT"> information Tech </option>
     </Select>
<input type="submit">
</form>
<table>
        <tr>
            <td> S.no </td>
            <td> Name </td>
        </tr>

        {% for record in data %}
            <tr>
                <td> 1 </td> 
                <td> <a href='http://localhost:5000/details/{{record[0]}}'> {{record[1]}} </a> </td>
            </tr>
        {% endfor %}
        </table>

</html>